<html>
    <head>
        <title>Temperature History</title>
    </head>
    <body>
        <p>
            <font size="+3">
                <b>Last Reported Temperature: </b>{{temperature}}&deg; F at {{time_stamp}} ({{age_minutes}} minutes ago)
            </font>
        </P>
        <font size="+2">
        Time Span:
        <a href="/?days=1">24 Hours</a>&nbsp;
        <a href="/?days=2">2 Days</a>&nbsp;
        <a href="/?days=3">3 Days</a>&nbsp;
        <a href="/?days=5">5 Days</a>&nbsp;
        <a href="/?days=7">1 Week</a>&nbsp;
        <a href="/?days=14">2 Weeks</a>&nbsp;
        <a href="/?days=30">1 Month</a>
        </font>
        <img src="/images/temps.png" width="100%">
    </body>
</html>